<div>
	<div class="panel panel-default" style="max-height: 480px; min-height: 430px">
		<div class='panel-heading projectBg'>
			<h3 class="capitalize">Opportunity: {{$ctrl.opportunity.description}} <input type="checkbox" ng-model="$ctrl.selected" ng-checked="$ctrl.selected" name="select-opportunity"
					ng-show="$parent.$parent.$ctrl.select" ng-change="$ctrl.selectedChanged()"></h3>
		</div>
		<div class="panel-body">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12">
						<img src="{{$ctrl.getImage($ctrl.opportunity.File)}}" data-err-src="images/spinner.gif" class="img-responsive" alt="{{$ctrl.opportunity.description}} photo"/>
					</div>
				</div>
				<hr>
			</div>
		</div>
	</div>
</div>
