<div>
	<div class="panel panel-default" style="max-height: 480px; min-height: 430px">
		<div class='panel-heading projectBg'>
			<h3 class="capitalize">Opportunity: {{$ctrl.opportunity.description}} <input type="checkbox" ng-model="$ctrl.selected" ng-checked="$ctrl.selected" name="select-opportunity"
					ng-show="$parent.$parent.$ctrl.select" ng-change="$ctrl.selectedChanged()"></h3>
		</div>
		<div class="panel-body">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12">
						<!--<img src="{{opportunity.image}}" alt="" class="img-responsive">-->
						<img src="{{$ctrl.getImage($ctrl.opportunity.File)}}" data-err-src="images/spinner.gif" class="img-responsive" />
					</div>
				</div>
				<hr>
				<!--<div class="row">
					<button class="btn btn-info" ng-model="collapsed" ng-click="collapsed=!collapsed" title="more info {{$ctrl.opportunity.name}}"
						id="icon_button" style="float:right;">	Info
					</button>
				</div>
				<hr>
				<div class="row pre-scrollable" ng-show="collapsed" id="more-info-{{$ctrl.opportunity.id}}" style="width:100%; border: solid 1px #ddd; border-radius: 4px;">
					<div class="col-xs-12">
						<p>{{$ctrl.opportunity.description}}</p>
					</div>
				</div>-->
			</div>
		</div>
	</div>
</div>
