<nav class="navbar navbar-default navbar-fixed-bottom" style="min-height: 0;">
	<div data-ng-show="$ctrl.showToastr()" class="navbar-inverse container-fluid">
		<toast></toast>
	</div>
	<div class="container">
		<p>
		    <button class="btn btn-default glyphicon glyphicon-tag" ng-click="$ctrl.newOpportunity()">Opportunity</button>
			<button style="float: right;" id="subscribe" ng-click="$ctrl.preCacheServiceWorker.notifyMe()" class="btn btn-default glyphicon glyphicon-transfer">{{$ctrl.preCacheServiceWorker.isPushEnabled ? 'Unsubscribe' : 'Subscribe'}}</button>
		</p>
	</div>
</nav>