<header class="hero-unit hidden-xs" id="banner">
	<div class="container">
		<h1>Save Button!</h1>
		<p class="lead">Hunt for Your Next Bargain</p>
		<img src="assets/images/save-button.png" alt="I'm Yeoman">
	</div>
</header>

<div class="container" style="padding-top: 55px;">
	<div class='row'>
		<div class='col-xs-12'>
			<form style="width: 100%; margin: auto; margin: auto;">
				<label for="search-opportunities" class="form-label">Search:</label>
				<input autofocused ng-model="$ctrl.query" type='text' id="search-opportunities" class='form-control' placeholder='Search Opportunities'></input>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<opportunity class="col-xs-12 col-sm-6 col-md-4" ng-repeat="opportunity in $ctrl.awesomeOpportunities | filter:$ctrl.query | orderBy:opportunity.name track by opportunity.id"
				opportunity="opportunity">
			</opportunity>
		</div>
	</div>

	<nav class="navbar navbar-default navbar-fixed-bottom" style="min-height: 0;">
		<div class="" ng-show="collapse">
			<form class="opportunity-form" class="form-inline">
				<div class="row" style="width: 100%; margin: auto; margin: auto; background-color: #fff;" ng-show="$ctrl.File">
					<div class="col-xs-12">
						<img data-ng-src="{{$ctrl.getImage($ctrl.File)}}" data-err-src="images/spinner.gif" class="img-responsive">
					</div>
				</div>
				<input id="imgInp" type="file" class="form-control" ng-model="$ctrl.File" accept="image/*;capture=camera" minsize="500" required base-sixty-four-input
					>
				<span ng-show="form.files.$error.maxsize">Files must not exceed 500 KB</span>
				<input type="text" class="form-control" placeholder="Add a new opportunity here." ng-model="$ctrl.newOpportunity.description">
				<span class="input-group-btn">
        				<button type="submit" class="btn btn-primary" ng-click="$ctrl.addOpportunities(); collapse = !collapse;" style="width: 100%;">Add New Opportunity</button>
      				</span>
			</form>
		</div>
		<button type="submit" class="btn btn-primary" ng-click="collapse = !collapse" style="width: 100%;">{{collapse ? 'Hide' : 'Show'}}</button>
		<div ng-show="$ctrl.preCacheServiceWorker.displaySubBtnFn()">
			<button id="subscribe" ng-click="$ctrl.preCacheServiceWorker.notifyMe()">{{$ctrl.preCacheServiceWorker.isPushEnabled ? 'Unsubscribe from Push Notifications' : 'Subscribe to Push Notifications'}}</button>
		</div>
		<div data-ng-show="$ctrl.showToastr()" class="navbar-inverse container-fluid">
			<toast></toast>
		</div>
	</nav>
</div>