.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.toast {
  // color: #fff;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1.0em;
    font-weight: 700;
    // color: white;
    background-color: black;
    display: inline-block;

    color: #333;
    background-color: #fff;
    // border-color: #ccc;
    margin-bottom: 0;
    // font-weight: normal;
    text-align: left;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #ccc;
    white-space: nowrap;
    padding: 6px 12px;
    // font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #f29f19;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
